<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  
  <body>
    <%- include("partials/navbar") %>

    <h1><%= "the home page".toUpperCase() %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores
      est maiores voluptatibus ullam, tempora perferendis, dolorum veritatis
      sint animi officia qui aspernatur consequatur, praesentium voluptas.
      Libero labore iusto soluta. Velit cupiditate ipsam adipisci pariatur
      repudiandae! Sequi nesciunt dicta quas temporibus? Minus animi, dolor
      expedita adipisci nulla corrupti, nostrum maiores commodi, culpa quaerat
      illo excepturi eveniet a voluptate. Distinctio, pariatur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt
      mollitia, labore consequatur debitis non totam quo vel facere eligendi
      error. Porro omnis magnam natus earum quibusdam iste itaque nesciunt?
    </p>

    <%- include("partials/footer") %>
  </body>
</html>
